// colors

$light: #faf9f9;
$dark: #1d1716;
$orange: #f96d00;
$dark-orange: #f16821;
$grey: #ececec;
$red: #ff0000;

//fonts

$text-font: 'Montserrat', sans-serif;
$text-regular: 20px;
$text-heading: 32px;
$text-hero: 40px;
$icon-size: 48px;
