// colors

$light: #faf9f9;
$dark: #1d1716;
$light-dark: #323232;
$orange: #f96d00;
$dark-orange: #f16821;
$grey: #ececec;
$red: #ff0000;
$success: #4bc87f;

//fonts

$text-font: 'Montserrat', sans-serif;
$text-regular: 20px;
$text-regular-small: 18px;
$text-heading: 32px;
$text-hero: 40px;
$text-hero-small: 26px;
$icon-size: 42px;
