@import '../../styles/settings.scss';

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto;
  padding: 0 30px;
  max-width: 1000px;
}

.intro-services-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .intro-services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .btn-fullOffer {
    margin-top: 30px;
    text-decoration: none;
    color: $orange;
    font-family: $text-font;
    font-size: $text-regular;
    height: 50px;
    border-radius: 25px;
    border: 2px solid $orange;
    text-align: center;
    padding: 10px 20px;
    transition: background-color, color 400ms;
    &:hover {
      background-color: $orange;
      color: $light;
    }
  }
}

.intro-gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  .intro-img-first {
    display: flex;
    position: relative;
    flex: 2 0;
    align-items: flex-end;
    img {
      border-radius: 15px;
      width: 100%;
      object-fit: cover;
      height: 500px;
    }
    .img-content {
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: $orange;
      color: $light;
      align-items: center;
      width: 250px;
      border-radius: 15px;
      h4 {
        font-size: $text-regular;
        font-weight: 400;
      }
      .img-content-link {
        color: $light;
        p {
          margin-top: 0;
        }
      }
    }
  }
  .intro-img-second {
    flex: 1 1;
    img {
      width: 100%;
      object-fit: cover;
      height: 500px;
      border-radius: 15px;
    }
  }
}

@media screen and (max-width: 992px) {
  .intro-gallery {
    .intro-img-second {
      display: none;
    }
  }
}
