@import '../../styles/settings.scss';

.contact-form-container {
  display: flex;
  flex-direction: column;
  .form-wrapper {
    display: flex;
    gap: 10px;
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 1;
      justify-content: space-between;
      .form-group {
        display: flex;
        gap: 10px;
        input {
          width: 100%;
        }
        .label-paragraph {
          top: 100%;
          font-size: 12px;
          color: $red;
          font-family: $text-font;
          margin: 0;
        }
      }
      input {
        height: 40px;
        outline: none;
        border: 1px solid $grey;
        padding: 5px;
        position: relative;
        &::placeholder {
          font-family: $text-font;
        }
      }
      .label-paragraph-subject {
        font-size: 12px;
        color: $red;
        font-family: $text-font;
        margin: 0;
      }
      textarea {
        resize: none;
        min-height: 200px;
        width: 100%;
        height: auto;
        outline: none;
        padding: 5px;
        border: 1px solid $grey;
        &::placeholder {
          font-family: $text-font;
        }
      }
      .btn-send {
        width: 150px;
        color: $orange;
        background-color: $light;
        border: 2px solid $orange;
        border-radius: 20px;
        font-family: $text-font;
        font-size: 18px;
        cursor: pointer;
        transition: background-color, color 200ms;
        &:hover {
          background-color: $orange;
          color: $light;
        }
      }
    }
    .map-container {
      display: flex;
      flex: 1;
      .map {
        width: 100%;
        object-fit: cover;
        height: 350px;
        border: 1px solid $grey;
      }
    }
  }
}

.address-section {
  background-color: $orange;
}

@media screen and (max-width: 992px) {
  .contact-form-container {
    .form-wrapper {
      flex-direction: column;
    }
    .form-group {
      flex-direction: column;
    }
    .btn-send {
      margin: auto;
    }
  }
}
