@import '../../styles/settings.scss';

.footer-container {
  background-color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  p {
    color: $light;
  }
}
