@import '../../styles/settings.scss';

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light;
  width: 350px;
  margin: 40px 0;
  .card-icon {
    font-size: $icon-size;
  }
  h3 {
    font-size: $text-heading;
    margin-bottom: 5px;
  }
  p {
    font-size: $text-regular;
    white-space: pre-wrap;
    line-height: 1.5;
  }
}
